@import './styles/google-fonts.css';
// AG Grid styles
@import './styles/ag-grid.css';
@import './styles/theme-material.css';
// React-MD Theme: Blue-Green
@import './styles/md-theme-gridless.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #1a022a;
  // background-image: -webkit-linear-gradient(-217deg,#82002a,#1a022a);
  // background-image: linear-gradient(-53deg,#82002a,#1a022a);
  // height: 100vh;
  // background-image:
}

.ag-material .ag-body {
  background-color: inherit;
}
.ag-material .ag-row-odd {
  background-color: #E0F2F1;
}
.ag-material .ag-row-even {
  background-color: inherit;
}
// .ag-material .ag-row-selected {
//   background-color: #c7c7c7;
// }

#ag-grid-container {
  position: fixed;
  bottom: 0;
  // width: inherit;
  width: 100%;
  // min-width: calc(100% - 350px);
  // max-width: 100%;
  height: calc(100vh - 64px);
  .material-icons {
    font-size: 16px !important;
    line-height: 1.5 !important;
  }
}
// .ag-body-viewport-wrapper {
//   margin: 0 !important;
// }
// .ag-floating-filter-body {
//   height: 32px;
// }
// .ag-header {
//   height: 96 !important;
// }
// .ag-body {
//   top: 96px !important;
// }

// .ag-header {
//   height: 96px !important;
// }
//
// .ag-body {
//   top: 96px !important;
// }
//
// .ag-header-row {
//   height: 32px !important;
// }

.ag-header-group-cell, .ag-header-cell {
  // height: 48px;
  border: 1px solid #d3d3d3 !important;
}

.md-picker-container {
  max-width: calc(100% - 2px) !important;
  max-height: calc(100% - 2px) !important;
}


/* Base styles */


    button {
        margin-left: 4px;
        margin-right: 4px;
    }
    .customHeaderMenuButton, .customHeaderLabel, .customSortDownLabel, .customSortUpLabel, .customSortRemoveLabel{
        float: left;
    }
    .customSortRemoveLabel{
        font-size: 6px;
    }

    .active {
        color: #82B1FF; /*Blue A200 */
    }
    .hidden { display:none; }

    .customHeaderLabel{
        margin: 2px;
        float: left;
    }
    .customExpandButton{
        float:right;
    }

    .expanded {
        animation-name: toExpanded;
        animation-duration: 1s;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        margin-bottom: 4px;
    }
    .collapsed {
        color: cornflowerblue;
        animation-name: toCollapsed;
        animation-duration: 1s;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    @keyframes  toExpanded{
        from {
            color: #82B1FF; /*Blue A200 */
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
        }
        to {
            color: black;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
    }
    @keyframes toCollapsed{
        from {
            color: black;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
        to {
            color: #82B1FF; /*Blue A200 */
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
        }
    }
